@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
	background-color: #3498db;
	background-image: linear-gradient(to right, #1abc9c, #3498db);
}

section {
	min-height: 100vh;
}

#about {
	background-color: #f39c12;
}

#portfolio {
	background-color: #e74c3c;
}

#contact {
	background-color: #2c3e50;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.intro-card {
	width: 900px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav {
	position: fixed;
	top: 50%;
	right: 24px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-align: right;
	z-index: 2;
}

.nav__item {
	line-height: 2rem;
	display: block;
}

.nav__item:hover .nav__label {
	opacity: 1;
	-webkit-transform: scale(1);
    		transform: scale(1);
}

.nav__item:hover .nav__dot {
	background-color: #fff;
	-webkit-transform: scale(1);
    		transform: scale(1);
}

.nav__item--active .nav__label {
	opacity: 1;
	-webkit-transform: scale(1);
    		transform: scale(1);
}

.nav__item--active .nav__dot {
	background-color: #fff;
	-webkit-transform: scale(1);
    		transform: scale(1);
}

.nav__dot {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #db7734;
	-webkit-transform: scale(0.75);
    		transform: scale(0.75);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    		transition: transform 0.3s, background-color 0.3s;
    -webkit-transform-origin: 50% 50%;
    		transform-origin: 50% 50%;
}

.nav__label {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
	margin-right: 1rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
	font-size: 1.1rem;
	opacity: 0;
	-webkit-transform: scale(0.75);
    		transform: scale(0.75);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    		transition: transform 0.3s, opacity 0.3s;
    -webkit-transform-origin: 100% 50%;
    		transform-origin: 100% 50%;
}

/*
 *Portfolio
 ********************/

.owl-portfolio {
	position: relative;
	height: 100vh;
}

.owl-portfolio .owl-item {
	height: 100vh;
}

.owl-portfolio .owl-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.owl-portfolio .owl-nav [class*='owl-'] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 1rem;
    color: #fff;
}

.owl-portfolio .owl-dots {
  	position: absolute;
    bottom: .5rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.owl-portfolio .owl-dots .owl-dot {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.owl-portfolio .owl-dots .owl-dot span {
	width: 8px;
    height: 8px;
    margin: 8px;
    background: #fff;
    display: block;
    border-radius: 50%;
}

.owl-portfolio .owl-dots .owl-dot.active span, .owl-portfolio .owl-dots .owl-dot:hover span {
	background: #212121;
}